<?xml version="1.0"?>
<robot name="peg_in_hole_fixtured_scene_0012_peg0006_tol04">
  <material name="wood"><color rgba="0.82 0.56 0.35 1.0"/></material>
  <material name="start_fix"><color rgba="0.30 0.50 0.85 1.0"/></material>
  <material name="goal_fix"><color rgba="0.4706 0.4706 0.4706 1.0"/></material>
  <link name="box">
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
      <geometry><box size="0.475000 0.400000 0.300000"/></geometry>
      <material name="wood"/>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
      <geometry><box size="0.475000 0.400000 0.300000"/></geometry>
    </collision>
    <visual>
      <origin xyz="-0.100507 0.008763 0.155000" rpy="0 0 0"/>
      <geometry><box size="0.080000 0.080000 0.010000"/></geometry>
      <material name="start_fix"/>
    </visual>
    <collision>
      <origin xyz="-0.100507 0.008763 0.155000" rpy="0 0 0"/>
      <geometry><box size="0.080000 0.080000 0.010000"/></geometry>
    </collision>
    <visual>
      <origin xyz="-0.075257 0.008763 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.029500 0.080000 0.050000"/></geometry>
      <material name="start_fix"/>
    </visual>
    <collision>
      <origin xyz="-0.075257 0.008763 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.029500 0.080000 0.050000"/></geometry>
    </collision>
    <visual>
      <origin xyz="-0.125757 0.008763 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.029500 0.080000 0.050000"/></geometry>
      <material name="start_fix"/>
    </visual>
    <collision>
      <origin xyz="-0.125757 0.008763 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.029500 0.080000 0.050000"/></geometry>
    </collision>
    <visual>
      <origin xyz="-0.100507 0.036513 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.021000 0.024500 0.050000"/></geometry>
      <material name="start_fix"/>
    </visual>
    <collision>
      <origin xyz="-0.100507 0.036513 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.021000 0.024500 0.050000"/></geometry>
    </collision>
    <visual>
      <origin xyz="-0.100507 -0.018987 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.021000 0.024500 0.050000"/></geometry>
      <material name="start_fix"/>
    </visual>
    <collision>
      <origin xyz="-0.100507 -0.018987 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.021000 0.024500 0.050000"/></geometry>
    </collision>
    <visual>
      <origin xyz="0.111751 0.101255 0.155000" rpy="0 0 0"/>
      <geometry><box size="0.080000 0.080000 0.010000"/></geometry>
      <material name="goal_fix"/>
    </visual>
    <collision>
      <origin xyz="0.111751 0.101255 0.155000" rpy="0 0 0"/>
      <geometry><box size="0.080000 0.080000 0.010000"/></geometry>
    </collision>
    <visual>
      <origin xyz="0.140704 0.101255 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.022095 0.080000 0.050000"/></geometry>
      <material name="goal_fix"/>
    </visual>
    <collision>
      <origin xyz="0.140704 0.101255 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.022095 0.080000 0.050000"/></geometry>
    </collision>
    <visual>
      <origin xyz="0.082799 0.101255 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.022095 0.080000 0.050000"/></geometry>
      <material name="goal_fix"/>
    </visual>
    <collision>
      <origin xyz="0.082799 0.101255 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.022095 0.080000 0.050000"/></geometry>
    </collision>
    <visual>
      <origin xyz="0.111751 0.132707 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.035809 0.017095 0.050000"/></geometry>
      <material name="goal_fix"/>
    </visual>
    <collision>
      <origin xyz="0.111751 0.132707 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.035809 0.017095 0.050000"/></geometry>
    </collision>
    <visual>
      <origin xyz="0.111751 0.069802 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.035809 0.017095 0.050000"/></geometry>
      <material name="goal_fix"/>
    </visual>
    <collision>
      <origin xyz="0.111751 0.069802 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.035809 0.017095 0.050000"/></geometry>
    </collision>
    <inertial>
      <mass value="500"/>
      <friction value="1.0"/>
      <inertia ixx="1000.0" ixy="0.0" ixz="0.0" iyy="1000.0" iyz="0.0" izz="1000.0"/>
    </inertial>
  </link>
</robot>
