<?xml version="1.0" encoding="utf-8"?>
<robot name="beam_3x_1_sdf_hybrid">
  <link name="base_link">
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
    </inertial>
  </link>
  <material name="tip">
    <color rgba="0.95 0.55 0.10 1.0"/>
  </material>
  <material name="body">
    <color rgba="0.50 0.50 0.50 1.0"/>
  </material>
  <link name="tip_link">
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <mesh filename="1_tip.obj" scale="1 1 1"/>
      </geometry>
      <material name="tip"/>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <mesh filename="1_tip.obj" scale="1 1 1"/>
      </geometry>
      <sdf resolution="256"/>
    </collision>
  </link>
  <joint name="base_to_tip" type="fixed">
    <parent link="base_link"/>
    <child link="tip_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="body_link">
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <mesh filename="coacd/decomp_0.obj" scale="1 1 1"/>
      </geometry>
      <material name="body"/>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <mesh filename="coacd/decomp_0.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <mesh filename="coacd/decomp_1.obj" scale="1 1 1"/>
      </geometry>
      <material name="body"/>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <mesh filename="coacd/decomp_1.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <mesh filename="coacd/decomp_2.obj" scale="1 1 1"/>
      </geometry>
      <material name="body"/>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <mesh filename="coacd/decomp_2.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <mesh filename="coacd/decomp_3.obj" scale="1 1 1"/>
      </geometry>
      <material name="body"/>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <mesh filename="coacd/decomp_3.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_to_body" type="fixed">
    <parent link="base_link"/>
    <child link="body_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
</robot>
