<?xml version="1.0"?>
<robot name="table_stool_circular_3">
  <link name="box">
    <visual>
      <material name="wood">
        <color rgba="0.82 0.56 0.35 1.0"/>
      </material>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.475 0.4 0.3"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.475 0.4 0.3"/>
      </geometry>
    </collision>
    <!-- Completed part 2 -->
    <visual>
      <material name="part_2">
        <color rgba="0.4 0.4 0.6 1.0"/>
      </material>
      <origin xyz="-0.080000 0.040000 0.150459" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../stool_circular/2/2.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.080000 0.040000 0.150459" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../stool_circular/2/2.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <!-- Completed part 1 -->
    <visual>
      <material name="part_1">
        <color rgba="0.4 0.4 0.6 1.0"/>
      </material>
      <origin xyz="-0.080000 0.040000 0.150459" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../stool_circular/1/1.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.080000 0.040000 0.150459" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../stool_circular/1/1.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <!-- Completed part 0 -->
    <visual>
      <material name="part_0">
        <color rgba="0.4 0.4 0.6 1.0"/>
      </material>
      <origin xyz="-0.080000 0.040000 0.150459" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../stool_circular/0/0.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.080000 0.040000 0.150459" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../stool_circular/0/0.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <!-- Completed part 5 -->
    <visual>
      <material name="part_5">
        <color rgba="0.4 0.4 0.6 1.0"/>
      </material>
      <origin xyz="-0.080000 0.040000 0.150459" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../stool_circular/5/5.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.080000 0.040000 0.150459" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../stool_circular/5/5.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <!-- Completed part 8 -->
    <visual>
      <material name="part_8">
        <color rgba="0.4 0.4 0.6 1.0"/>
      </material>
      <origin xyz="-0.080000 0.040000 0.150459" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../stool_circular/8/8.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.080000 0.040000 0.150459" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../stool_circular/8/8.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <!-- Completed part 7 -->
    <visual>
      <material name="part_7">
        <color rgba="0.4 0.4 0.6 1.0"/>
      </material>
      <origin xyz="-0.080000 0.040000 0.150459" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../stool_circular/7/7.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.080000 0.040000 0.150459" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../stool_circular/7/7.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <!-- Completed part 4 -->
    <visual>
      <material name="part_4">
        <color rgba="0.4 0.4 0.6 1.0"/>
      </material>
      <origin xyz="-0.080000 0.040000 0.150459" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../stool_circular/4/4.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.080000 0.040000 0.150459" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../stool_circular/4/4.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="500"/>
      <friction value="1.0"/>
      <inertia ixx="1000.0" ixy="0.0" ixz="0.0" iyy="1000.0" iyz="0.0" izz="1000.0"/>
    </inertial>
  </link>
</robot>
