<?xml version="1.0"?>
<robot name="beam_6">
  <link name="beam_6">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="6_canonical.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="6_canonical.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <density value="1250.0"/>
    </inertial>
  </link>
</robot>
