<?xml version="1.0"?>
<robot name="peg_in_hole_fixtured_scene_0022_peg0014_tol00">
  <material name="wood"><color rgba="0.82 0.56 0.35 1.0"/></material>
  <material name="start_fix"><color rgba="0.30 0.50 0.85 1.0"/></material>
  <material name="goal_fix"><color rgba="0.4706 0.4706 0.4706 1.0"/></material>
  <link name="box">
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
      <geometry><box size="0.475000 0.400000 0.300000"/></geometry>
      <material name="wood"/>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
      <geometry><box size="0.475000 0.400000 0.300000"/></geometry>
    </collision>
    <visual>
      <origin xyz="-0.140716 -0.066168 0.155000" rpy="0 0 0"/>
      <geometry><box size="0.080000 0.080000 0.010000"/></geometry>
      <material name="start_fix"/>
    </visual>
    <collision>
      <origin xyz="-0.140716 -0.066168 0.155000" rpy="0 0 0"/>
      <geometry><box size="0.080000 0.080000 0.010000"/></geometry>
    </collision>
    <visual>
      <origin xyz="-0.115466 -0.066168 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.029500 0.080000 0.050000"/></geometry>
      <material name="start_fix"/>
    </visual>
    <collision>
      <origin xyz="-0.115466 -0.066168 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.029500 0.080000 0.050000"/></geometry>
    </collision>
    <visual>
      <origin xyz="-0.165966 -0.066168 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.029500 0.080000 0.050000"/></geometry>
      <material name="start_fix"/>
    </visual>
    <collision>
      <origin xyz="-0.165966 -0.066168 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.029500 0.080000 0.050000"/></geometry>
    </collision>
    <visual>
      <origin xyz="-0.140716 -0.038418 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.021000 0.024500 0.050000"/></geometry>
      <material name="start_fix"/>
    </visual>
    <collision>
      <origin xyz="-0.140716 -0.038418 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.021000 0.024500 0.050000"/></geometry>
    </collision>
    <visual>
      <origin xyz="-0.140716 -0.093918 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.021000 0.024500 0.050000"/></geometry>
      <material name="start_fix"/>
    </visual>
    <collision>
      <origin xyz="-0.140716 -0.093918 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.021000 0.024500 0.050000"/></geometry>
    </collision>
    <visual>
      <origin xyz="0.092349 0.053559 0.155000" rpy="0 0 0"/>
      <geometry><box size="0.080000 0.080000 0.010000"/></geometry>
      <material name="goal_fix"/>
    </visual>
    <collision>
      <origin xyz="0.092349 0.053559 0.155000" rpy="0 0 0"/>
      <geometry><box size="0.080000 0.080000 0.010000"/></geometry>
    </collision>
    <visual>
      <origin xyz="0.117408 0.053559 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.029883 0.080000 0.050000"/></geometry>
      <material name="goal_fix"/>
    </visual>
    <collision>
      <origin xyz="0.117408 0.053559 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.029883 0.080000 0.050000"/></geometry>
    </collision>
    <visual>
      <origin xyz="0.067291 0.053559 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.029883 0.080000 0.050000"/></geometry>
      <material name="goal_fix"/>
    </visual>
    <collision>
      <origin xyz="0.067291 0.053559 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.029883 0.080000 0.050000"/></geometry>
    </collision>
    <visual>
      <origin xyz="0.092349 0.081117 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.020233 0.024883 0.050000"/></geometry>
      <material name="goal_fix"/>
    </visual>
    <collision>
      <origin xyz="0.092349 0.081117 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.020233 0.024883 0.050000"/></geometry>
    </collision>
    <visual>
      <origin xyz="0.092349 0.026000 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.020233 0.024883 0.050000"/></geometry>
      <material name="goal_fix"/>
    </visual>
    <collision>
      <origin xyz="0.092349 0.026000 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.020233 0.024883 0.050000"/></geometry>
    </collision>
    <inertial>
      <mass value="500"/>
      <friction value="1.0"/>
      <inertia ixx="1000.0" ixy="0.0" ixz="0.0" iyy="1000.0" iyz="0.0" izz="1000.0"/>
    </inertial>
  </link>
</robot>
