<?xml version="1.0"?>
<robot name="peg_in_hole_scene_0067_tol03">
  <material name="wood"><color rgba="0.82 0.56 0.35 1.0"/></material>
  <material name="hole_grey"><color rgba="0.4706 0.4706 0.4706 1.0"/></material>
  <link name="box">
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
      <geometry><box size="0.475000 0.400000 0.300000"/></geometry>
      <material name="wood"/>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
      <geometry><box size="0.475000 0.400000 0.300000"/></geometry>
    </collision>
    <visual>
      <origin xyz="0.097845 -0.104324 0.155000" rpy="0 0 0"/>
      <geometry><box size="0.080000 0.080000 0.010000"/></geometry>
      <material name="hole_grey"/>
    </visual>
    <collision>
      <origin xyz="0.097845 -0.104324 0.155000" rpy="0 0 0"/>
      <geometry><box size="0.080000 0.080000 0.010000"/></geometry>
    </collision>
    <visual>
      <origin xyz="0.123114 -0.104324 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.029463 0.080000 0.050000"/></geometry>
      <material name="hole_grey"/>
    </visual>
    <collision>
      <origin xyz="0.123114 -0.104324 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.029463 0.080000 0.050000"/></geometry>
    </collision>
    <visual>
      <origin xyz="0.072577 -0.104324 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.029463 0.080000 0.050000"/></geometry>
      <material name="hole_grey"/>
    </visual>
    <collision>
      <origin xyz="0.072577 -0.104324 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.029463 0.080000 0.050000"/></geometry>
    </collision>
    <visual>
      <origin xyz="0.097845 -0.076555 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.021075 0.024463 0.050000"/></geometry>
      <material name="hole_grey"/>
    </visual>
    <collision>
      <origin xyz="0.097845 -0.076555 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.021075 0.024463 0.050000"/></geometry>
    </collision>
    <visual>
      <origin xyz="0.097845 -0.132092 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.021075 0.024463 0.050000"/></geometry>
      <material name="hole_grey"/>
    </visual>
    <collision>
      <origin xyz="0.097845 -0.132092 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.021075 0.024463 0.050000"/></geometry>
    </collision>
    <inertial>
      <mass value="500"/>
      <friction value="1.0"/>
      <inertia ixx="1000.0" ixy="0.0" ixz="0.0" iyy="1000.0" iyz="0.0" izz="1000.0"/>
    </inertial>
  </link>
</robot>
