<?xml version="1.0"?>
<robot name="desk_leg3">
    <link name="desk_leg3">
        <visual>
            <geometry>
                <mesh filename="desk_leg3.obj" scale="1 1 1"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="desk_leg3.obj" scale="1 1 1"/>
            </geometry>
        </collision>
    </link>
</robot>
