<?xml version="1.0"?>
<robot name="beam_3_coacd">
  <material name="color_0"><color rgba="0.9 0.2 0.2 1.0"/></material>
  <material name="color_1"><color rgba="0.2 0.7 0.2 1.0"/></material>
  <material name="color_2"><color rgba="0.2 0.3 0.9 1.0"/></material>
  <material name="color_3"><color rgba="0.9 0.7 0.1 1.0"/></material>
  <material name="color_4"><color rgba="0.8 0.3 0.8 1.0"/></material>
  <material name="color_5"><color rgba="0.1 0.8 0.8 1.0"/></material>
  <material name="color_6"><color rgba="0.9 0.5 0.1 1.0"/></material>
  <material name="color_7"><color rgba="0.5 0.5 0.5 1.0"/></material>
  <material name="color_8"><color rgba="0.6 0.2 0.6 1.0"/></material>
  <material name="color_9"><color rgba="0.3 0.9 0.5 1.0"/></material>
  <material name="color_10"><color rgba="0.9 0.3 0.5 1.0"/></material>
  <material name="color_11"><color rgba="0.4 0.6 0.9 1.0"/></material>
  <material name="color_12"><color rgba="0.7 0.9 0.2 1.0"/></material>
  <link name="base_link">
    <inertial>
      <density value="1250.0"/>
    </inertial>
  </link>
  <link name="hull_0">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="decomp_0.obj" scale="1 1 1"/>
      </geometry>
      <material name="color_0"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="decomp_0.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="hull_joint_0" type="fixed">
    <parent link="base_link"/>
    <child link="hull_0"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="hull_1">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="decomp_1.obj" scale="1 1 1"/>
      </geometry>
      <material name="color_1"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="decomp_1.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="hull_joint_1" type="fixed">
    <parent link="base_link"/>
    <child link="hull_1"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="hull_2">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="decomp_2.obj" scale="1 1 1"/>
      </geometry>
      <material name="color_2"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="decomp_2.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="hull_joint_2" type="fixed">
    <parent link="base_link"/>
    <child link="hull_2"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="hull_3">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="decomp_3.obj" scale="1 1 1"/>
      </geometry>
      <material name="color_3"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="decomp_3.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="hull_joint_3" type="fixed">
    <parent link="base_link"/>
    <child link="hull_3"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="hull_4">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="decomp_4.obj" scale="1 1 1"/>
      </geometry>
      <material name="color_4"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="decomp_4.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="hull_joint_4" type="fixed">
    <parent link="base_link"/>
    <child link="hull_4"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="hull_5">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="decomp_5.obj" scale="1 1 1"/>
      </geometry>
      <material name="color_5"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="decomp_5.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="hull_joint_5" type="fixed">
    <parent link="base_link"/>
    <child link="hull_5"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="hull_6">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="decomp_6.obj" scale="1 1 1"/>
      </geometry>
      <material name="color_6"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="decomp_6.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="hull_joint_6" type="fixed">
    <parent link="base_link"/>
    <child link="hull_6"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="hull_7">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="decomp_7.obj" scale="1 1 1"/>
      </geometry>
      <material name="color_7"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="decomp_7.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="hull_joint_7" type="fixed">
    <parent link="base_link"/>
    <child link="hull_7"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="hull_8">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="decomp_8.obj" scale="1 1 1"/>
      </geometry>
      <material name="color_8"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="decomp_8.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="hull_joint_8" type="fixed">
    <parent link="base_link"/>
    <child link="hull_8"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="hull_9">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="decomp_9.obj" scale="1 1 1"/>
      </geometry>
      <material name="color_9"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="decomp_9.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="hull_joint_9" type="fixed">
    <parent link="base_link"/>
    <child link="hull_9"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="hull_10">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="decomp_10.obj" scale="1 1 1"/>
      </geometry>
      <material name="color_10"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="decomp_10.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="hull_joint_10" type="fixed">
    <parent link="base_link"/>
    <child link="hull_10"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="hull_11">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="decomp_11.obj" scale="1 1 1"/>
      </geometry>
      <material name="color_11"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="decomp_11.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="hull_joint_11" type="fixed">
    <parent link="base_link"/>
    <child link="hull_11"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="hull_12">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="decomp_12.obj" scale="1 1 1"/>
      </geometry>
      <material name="color_12"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="decomp_12.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="hull_joint_12" type="fixed">
    <parent link="base_link"/>
    <child link="hull_12"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
</robot>
