<?xml version="1.0"?>
<robot name="peg_in_hole_tolerances_scenes_scene_0091_tol07">
  <material name="wood"><color rgba="0.82 0.56 0.35 1.0"/></material>
  <material name="hole_grey"><color rgba="0.4706 0.4706 0.4706 1.0"/></material>
  <link name="box">
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
      <geometry><box size="0.475000 0.400000 0.300000"/></geometry>
      <material name="wood"/>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
      <geometry><box size="0.475000 0.400000 0.300000"/></geometry>
    </collision>
    <visual>
      <origin xyz="0.054281 -0.086512 0.155000" rpy="0 0 0"/>
      <geometry><box size="0.080000 0.080000 0.010000"/></geometry>
      <material name="hole_grey"/>
    </visual>
    <collision>
      <origin xyz="0.054281 -0.086512 0.155000" rpy="0 0 0"/>
      <geometry><box size="0.080000 0.080000 0.010000"/></geometry>
    </collision>
    <visual>
      <origin xyz="0.079721 -0.086512 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.029120 0.080000 0.050000"/></geometry>
      <material name="hole_grey"/>
    </visual>
    <collision>
      <origin xyz="0.079721 -0.086512 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.029120 0.080000 0.050000"/></geometry>
    </collision>
    <visual>
      <origin xyz="0.028841 -0.086512 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.029120 0.080000 0.050000"/></geometry>
      <material name="hole_grey"/>
    </visual>
    <collision>
      <origin xyz="0.028841 -0.086512 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.029120 0.080000 0.050000"/></geometry>
    </collision>
    <visual>
      <origin xyz="0.054281 -0.058572 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.021760 0.024120 0.050000"/></geometry>
      <material name="hole_grey"/>
    </visual>
    <collision>
      <origin xyz="0.054281 -0.058572 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.021760 0.024120 0.050000"/></geometry>
    </collision>
    <visual>
      <origin xyz="0.054281 -0.114452 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.021760 0.024120 0.050000"/></geometry>
      <material name="hole_grey"/>
    </visual>
    <collision>
      <origin xyz="0.054281 -0.114452 0.185000" rpy="0 0 0"/>
      <geometry><box size="0.021760 0.024120 0.050000"/></geometry>
    </collision>
    <inertial>
      <mass value="500"/>
      <friction value="1.0"/>
      <inertia ixx="1000.0" ixy="0.0" ixz="0.0" iyy="1000.0" iyz="0.0" izz="1000.0"/>
    </inertial>
  </link>
</robot>
