<?xml version="1.0"?>
<robot name="table_beam_1_scene_sdf">
  <link name="box">
    <visual>
      <material name="wood"><color rgba="0.82 0.56 0.35 1.0"/></material>
      <origin xyz="0 0 0"/>
      <geometry><box size="0.475 0.4 0.3"/></geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry><box size="0.475 0.4 0.3"/></geometry>
    </collision>
    <inertial>
      <mass value="500"/>
      <friction value="1.0"/>
      <inertia ixx="1000.0" ixy="0.0" ixz="0.0" iyy="1000.0" iyz="0.0" izz="1000.0"/>
    </inertial>
  </link>
  <link name="part_6">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="../../6/6_canonical.obj" scale="1 1 1"/></geometry>
      <material name="placed_6"><color rgba="0.6 0.6 0.6 1.0"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="../../6/6_canonical.obj" scale="1 1 1"/></geometry>
      <sdf resolution="512"/>
    </collision>
  </link>
  <joint name="part_6_joint" type="fixed">
    <parent link="box"/>
    <child link="part_6"/>
    <origin xyz="-0.08 0.04 0.15635" rpy="0.0 0.0 0.0"/>
  </joint>
  <link name="part_2">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="../../2/2_canonical.obj" scale="1 1 1"/></geometry>
      <material name="placed_2"><color rgba="0.6 0.6 0.6 1.0"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="../../2/2_canonical.obj" scale="1 1 1"/></geometry>
      <sdf resolution="512"/>
    </collision>
  </link>
  <joint name="part_2_joint" type="fixed">
    <parent link="box"/>
    <child link="part_2"/>
    <origin xyz="-0.124463 0.04 0.18770900000000001" rpy="0.0 -1.5707963057214722 0.0"/>
  </joint>
  <link name="part_0">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="../../0/0_canonical.obj" scale="1 1 1"/></geometry>
      <material name="placed_0"><color rgba="0.6 0.6 0.6 1.0"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="../../0/0_canonical.obj" scale="1 1 1"/></geometry>
      <sdf resolution="512"/>
    </collision>
  </link>
  <joint name="part_0_joint" type="fixed">
    <parent link="box"/>
    <child link="part_0"/>
    <origin xyz="-0.12445 0.04 0.22113899999999997" rpy="1.5707963267948966 0.0 -1.5707963267948966"/>
  </joint>
  <link name="part_3">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="../../3/3_canonical.obj" scale="1 1 1"/></geometry>
      <material name="placed_3"><color rgba="0.6 0.6 0.6 1.0"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="../../3/3_canonical.obj" scale="1 1 1"/></geometry>
      <sdf resolution="512"/>
    </collision>
  </link>
  <joint name="part_3_joint" type="fixed">
    <parent link="box"/>
    <child link="part_3"/>
    <origin xyz="-0.035537 0.04 0.18770900000000001" rpy="0.0 -1.5707963057214722 0.0"/>
  </joint>
</robot>