<?xml version="1.0"?>
<robot name="table_beam_0_scene_sdf">
  <link name="box">
    <visual>
      <material name="wood"><color rgba="0.82 0.56 0.35 1.0"/></material>
      <origin xyz="0 0 0"/>
      <geometry><box size="0.475 0.4 0.3"/></geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry><box size="0.475 0.4 0.3"/></geometry>
    </collision>
    <inertial>
      <mass value="500"/>
      <friction value="1.0"/>
      <inertia ixx="1000.0" ixy="0.0" ixz="0.0" iyy="1000.0" iyz="0.0" izz="1000.0"/>
    </inertial>
  </link>
  <link name="part_6">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="../../beam/6/6_canonical.obj" scale="1 1 1"/></geometry>
      <material name="placed_6"><color rgba="0.6 0.6 0.6 1.0"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="../../beam/6/6_canonical.obj" scale="1 1 1"/></geometry>
      <sdf resolution="512"/>
    </collision>
  </link>
  <joint name="part_6_joint" type="fixed">
    <parent link="box"/>
    <child link="part_6"/>
    <origin xyz="-0.08 0.04 0.15674100000000002" rpy="0.0 0.0 0.0"/>
  </joint>
  <link name="part_2">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="../../beam/2/2_canonical.obj" scale="1 1 1"/></geometry>
      <material name="placed_2"><color rgba="0.6 0.6 0.6 1.0"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="../../beam/2/2_canonical.obj" scale="1 1 1"/></geometry>
      <sdf resolution="512"/>
    </collision>
  </link>
  <joint name="part_2_joint" type="fixed">
    <parent link="box"/>
    <child link="part_2"/>
    <origin xyz="-0.124463 0.04 0.18810000000000004" rpy="0.0 -1.5707963057214722 0.0"/>
  </joint>
</robot>