<?xml version="1.0" encoding="utf-8"?>
<robot name="fixture_beam_3x_part_2">
  <link name="root"/>
  <material name="part_6">
    <color rgba="0.8500 0.3000 0.3000 1.0000"/>
  </material>
  <link name="part_6">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../6/coacd/decomp_1.obj" scale="1 1 1"/>
      </geometry>
      <material name="part_6"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../6/coacd/decomp_1.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../6/coacd/decomp_10.obj" scale="1 1 1"/>
      </geometry>
      <material name="part_6"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../6/coacd/decomp_10.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../6/coacd/decomp_11.obj" scale="1 1 1"/>
      </geometry>
      <material name="part_6"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../6/coacd/decomp_11.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../6/coacd/decomp_2.obj" scale="1 1 1"/>
      </geometry>
      <material name="part_6"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../6/coacd/decomp_2.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../6/coacd/decomp_4.obj" scale="1 1 1"/>
      </geometry>
      <material name="part_6"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../6/coacd/decomp_4.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../6/coacd/decomp_5.obj" scale="1 1 1"/>
      </geometry>
      <material name="part_6"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../6/coacd/decomp_5.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../6/coacd/decomp_6.obj" scale="1 1 1"/>
      </geometry>
      <material name="part_6"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../6/coacd/decomp_6.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../6/coacd/decomp_8.obj" scale="1 1 1"/>
      </geometry>
      <material name="part_6"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../6/coacd/decomp_8.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../6/coacd/decomp_9.obj" scale="1 1 1"/>
      </geometry>
      <material name="part_6"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../6/coacd/decomp_9.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="root_to_part_6" type="fixed">
    <parent link="root"/>
    <child link="part_6"/>
    <origin xyz="-0.000000 -0.000000 0.018998" rpy="0.000000 0.000000 0.000000"/>
  </joint>
</robot>
