<?xml version="1.0" encoding="utf-8"?>
<robot name="fixture_beam_3x_part_0_sdf_hybrid">
  <link name="plate">
    <visual>
      <origin xyz="-0.047589 -0.000000 0.095250" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.034509 0.036010 0.190500"/>
      </geometry>
      <material name="bulk"/>
    </visual>
    <collision>
      <origin xyz="-0.047589 -0.000000 0.095250" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.034509 0.036010 0.190500"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.000000 0.000000 0.019050" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.146250 0.053340 0.038100"/>
      </geometry>
      <material name="bulk"/>
    </visual>
    <collision>
      <origin xyz="-0.000000 0.000000 0.019050" rpy="0.000000 0.000000 0.000000"/>
      <geometry>
        <box size="0.146250 0.053340 0.038100"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.047625 -0.000000 0.113075" rpy="0.000000 -1.570796 0.000000"/>
      <geometry>
        <mesh filename="../2/sdf_hybrid/2_hole_patch_for_part_0.obj" scale="1 1 1"/>
      </geometry>
      <material name="hole"/>
    </visual>
    <collision>
      <origin xyz="-0.047625 -0.000000 0.113075" rpy="0.000000 -1.570796 0.000000"/>
      <geometry>
        <mesh filename="../2/sdf_hybrid/2_hole_patch_for_part_0.obj" scale="1 1 1"/>
      </geometry>
      <sdf resolution="256"/>
    </collision>
      <inertial>
      <mass value="0.6898"/>
      <origin xyz="-0.022163 -0.000000 0.058864" rpy="0 0 0"/>
      <inertia ixx="2.606265e-03" ixy="-4.918582e-12" ixz="6.983002e-04" iyy="3.561025e-03" iyz="3.510489e-11" izz="1.197054e-03"/>
    </inertial>
</link>
  <material name="bulk">
    <color rgba="0.78 0.55 0.30 1.0"/>
  </material>
  <material name="hole">
    <color rgba="0.30 0.65 0.85 1.0"/>
  </material>
</robot>
