<?xml version="1.0"?>
<robot name="square_table_leg2">
    <link name="square_table_leg2">
        <visual>
            <geometry>
                <mesh filename="square_table_leg2.obj" scale="1 1 1"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="square_table_leg2.obj" scale="1 1 1"/>
            </geometry>
        </collision>
    </link>
</robot>
