<?xml version="1.0"?>
<robot name="table_cooling_manifold_5">
  <link name="box">
    <visual>
      <material name="wood">
        <color rgba="0.82 0.56 0.35 1.0"/>
      </material>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.475 0.4 0.3"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.475 0.4 0.3"/>
      </geometry>
    </collision>
    <!-- Completed part 1 -->
    <visual>
      <material name="part_1">
        <color rgba="0.4 0.4 0.6 1.0"/>
      </material>
      <origin xyz="-0.079892 0.039903 0.146569" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../cooling_manifold/1/1.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.079892 0.039903 0.146569" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../cooling_manifold/1/1.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <!-- Completed part 0 -->
    <visual>
      <material name="part_0">
        <color rgba="0.4 0.4 0.6 1.0"/>
      </material>
      <origin xyz="-0.079892 0.039903 0.146569" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../cooling_manifold/0/0.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.079892 0.039903 0.146569" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../cooling_manifold/0/0.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <!-- Completed part 4 -->
    <visual>
      <material name="part_4">
        <color rgba="0.4 0.4 0.6 1.0"/>
      </material>
      <origin xyz="-0.079892 0.039903 0.146569" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../cooling_manifold/4/4.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.079892 0.039903 0.146569" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../cooling_manifold/4/4.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <!-- Completed part 6 -->
    <visual>
      <material name="part_6">
        <color rgba="0.4 0.4 0.6 1.0"/>
      </material>
      <origin xyz="-0.079892 0.039903 0.146569" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../cooling_manifold/6/6.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.079892 0.039903 0.146569" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../cooling_manifold/6/6.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <!-- Completed part 2 -->
    <visual>
      <material name="part_2">
        <color rgba="0.4 0.4 0.6 1.0"/>
      </material>
      <origin xyz="-0.079892 0.039903 0.146569" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../cooling_manifold/2/2.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.079892 0.039903 0.146569" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../cooling_manifold/2/2.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <!-- Completed part 3 -->
    <visual>
      <material name="part_3">
        <color rgba="0.4 0.4 0.6 1.0"/>
      </material>
      <origin xyz="-0.079892 0.039903 0.146569" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../cooling_manifold/3/3.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.079892 0.039903 0.146569" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../cooling_manifold/3/3.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="500"/>
      <friction value="1.0"/>
      <inertia ixx="1000.0" ixy="0.0" ixz="0.0" iyy="1000.0" iyz="0.0" izz="1000.0"/>
    </inertial>
  </link>
</robot>
